body {
  padding-top: 60px;
}

button:hover {
  opacity: 0.8;
}

main {
  padding: 5% 12% 0%;
  display: flex;
}

.sect-component {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-content: center;
}

.element {
  margin-bottom: 2.5%;

}

.element h1 {
  font-weight: 700;
  font-size: clamp(3vw, 9.5vw, 55px);
  margin-bottom: 9%;
  max-width: 684px;
  color: var(--header-color);
  width: 80%;
}

.element span {
  color: var(--dark-green);
}

.element p {
  max-width: 65%;
  color: var(--text-color);
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 30px;
}

.block {
  max-width: 400px;
  width: 100%;
}

.block img {
  height: auto;
  max-height: 454px;
  max-width: 398px;
  width: 100%;
}

button {
  border: none;

}

.btn_links {
  align-items: center;
  color: unset;
  display: flex;
  gap: 8%;
  height: 100%;
  justify-content: center;
  text-decoration: none;
  width: 100%;
}

.display {
  background: var(--green);
  cursor: pointer;
  margin-left: 10px;
  max-width: 269px;
  width: 100%;
}

.display .btn_links {
  align-items: center;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 8px 2%;
  color: var(--white);
}

section {
  padding: 50px 70px;
  margin-top: 10%;
}

section h2 {
  text-align: center;
  font-weight: 700;
  font-size: clamp(3vw, 9vw, 40px);
  color: #282938;
}

.line-1 {
  width: 170px;
  height: 3px;
  background: var(--dark-green);
  margin-inline: auto;
  margin-bottom: 8em;
}

.cards-cunt {
  align-items: center;
  row-gap: 3rem;
  column-gap: 0;
  justify-content: center;
  padding-inline: 8%;
}

.cards {
  align-items: center;
  border-radius: 30px;
  box-sizing: border-box;
  box-shadow: 0px 7px 65px rgba(0, 0, 0, 0.1), 0px 4.53704px 38.0671px rgba(0, 0, 0, 0.0759259), 0px 2.6963px 20.7037px rgba(0, 0, 0, 0.0607407), 0px 1.4px 10.5625px rgba(0, 0, 0, 0.05), 0px 0.57037px 5.2963px rgba(0, 0, 0, 0.0392593), 0px 0.12963px 2.55787px rgba(0, 0, 0, 0.0240741);
  display: grid;
  min-height: 400px;
  margin-inline: 3%;
  place-items: center;
  padding: 1% 3%;
  transition: height 40s;
}

.cards h4 {
  padding-bottom: 2%;
}

.extra {
  display: none;
  padding: 0px 2em 0px 2em;
}

.cards:hover .extra  {
  display: inline-block;
}

.btn_links {
  align-items: center;
  color: unset;
  gap: 8%;
  height: 100%;
  justify-content: center;
  text-decoration: none;
  width: 100%;
}

.butn {
  width: 141px;
  height: 50px;
  background-color: var(--green);
  color: white;
  border: none;
  display: none;
  margin: 5%;
  border-radius: 5%;
}

.cards:hover .butn {
  display: inline-block;
}

.btn_links:hover {
  color: #ffffff;
}


.cards h4 {
  align-self: end;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: clamp(1.1rem, 3vw, 1.625rem);
  padding-left: 5%;
  width: 100%;
}

.cards p {
  font-family: 'Poppins';
  font-size: clamp(0.9rem, 3vw, 1rem);
  font-style: normal;
  font-weight: 300;
  margin-bottom: 0;
  padding-left: 5%;
  width: 100%;
}


@media screen and (max-width: 992px) {
  .sect-component .element h1 {
    margin: auto;
    max-width: 100%;
    padding-block: 5%;
  }

  .sect-component .element p {
    margin: auto;
    padding-block: 3%;
  }

  .display {
    margin-left: 0;
    margin-inline: auto;
    margin-top: 5%;
  }

}

@media screen and (max-width: 768px) {

  .line-1 {
    width: 92px;
    height: .35rem;
    background-color: var(--green);
    margin-inline: auto;
    margin-bottom: 50px;
  }

  .cards-cunt {
    padding-inline: 12%;
  }
  
  .cards p {
    text-align: center;
    padding-left: 0;
  }

}