@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --green: #81af02;
  --white: #ffffff;
  --dark-green: #b7dc38;
  --text-color: #5f5f61;
  --header-color: #282938;
  --footer-color: #18181d;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
  scroll-behavior: smooth;
}

.no_scroll {
  overflow-y: hidden;
}


nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 8px 5%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.logo img {
  height: auto;
  max-width: 60px;
  width: 100%;
}

.nav-links {
  align-items: center;
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin-block: 0;
  width: 50%;
}

.nav-links .cta {
  text-decoration: none;
  position: relative;
}

.nav-links .cta::after {
  content: "";
  position: absolute;
  background-color: var(--green);
  height: 2px;
  width: 0%;
  transition: 0.5s ease-in-out;
  border-radius: 5px;
}

.nav-links .cta:hover::after {
  width: 100%;
}

.nav-links a,
.cta:hover {
  color: var(--white);
  text-decoration: none;
}

.nav-links button {
  border-radius: 8px;
  width: 160px;
  height: 40px;
  border: none;
  background: var(--green);
  color: white;
}

.nav-links button a {
  align-items: center;
  background-color: var(--green);
  border-radius: 8px;
  color: white;
  display: flex;
  height: 100%;
  justify-content: center;
  text-decoration: none;
  width: 100%;
}

/* Hamburger Drop Down */

.hamburger-cunt {
  cursor: pointer;
  height: 2.1rem;
  min-width: 2.8rem;
  position: relative;
  align-self: center;
}

.hamburger {
  background-color: white;
  border-radius: 1.5rem;
  height: clamp(5px, 6px, 7px);
  position: absolute;
  width: clamp(40px, 5vw, 60px);
}

.top {
  top: 0;
}

.mid {
  top: 50%;
  transform: translateY(-50%);
}

.bottom {
  bottom: 0;
}

.rotate45 {
  top: 50%;
  transform: rotate(45deg);
  transition: top .25s, transform .5s ease-in .25s;
}

.rotateNeg45 {
  top: 50%;
  transform: rotate(-45deg);
  transition: top .25s, transform .5s ease-in .25s;
}

.hidden {
  display: none;
}

.unhide {
  display: flex;
}


/* footer section */

footer {
  background: var(--footer-color);
  flex-flow: wrap;
  justify-content: space-between;
  margin-top: 70px;
}

footer p {
  font-size: clamp(0.88rem, 3vw, 1rem);
}

.footer-img .icons {
  margin-top: 20px;
}

.footer-img .icons>i {
  color: var(--white);
  margin-right: 20px;
}

.footer-text {
  display: grid;
  align-items: center;
  grid-template-areas: "a a a a a""b c d e f";
  padding-inline: 20px;
}

.footer-text h3 {
  color: var(--white);
  margin-bottom: 20px;
}

.footer-text p a {
  color: var(--white);
  text-decoration: none;
}


.footer-address p {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  gap: 2%;
  justify-content: start;
  padding-bottom: 1rem;
  padding-inline: 3.2rem;
}

hr.f_hr {
  background-color: var(--white);
  border-radius: 12px;
  height: 3px;
  width: 90%;
  margin: 0 auto 1rem;
}




@media screen and (max-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 2.5%;
  }
}


@media screen and (max-width:992px) {

  .nav-links {
    background-color: rgba(0, 0, 0, 0.836);
    display: flex;
    flex-flow: column nowrap;
    height: max-content;
    left: 0;
    padding-block: 20px;
    padding-inline: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
  }

  .nav-links a:not(button a) {
    border-bottom: 1px solid grey;
    display: block;
    padding: 20px;
    text-align: center;
    transition: .2s;
    width: 100%;
  }

  .cta:hover {
    color: var(--white);
    text-decoration: underline;
    transform: scale(1.1);
  }

  .nav-links .cta:hover::after {
    width: 0%;
  }

  .nav-links button {
    align-items: center;
    display: grid;
    margin-top: 20px;
    padding: 0 5px;
  }
}